---
layout: default
---
<link
href="../cv_css.css"
type="text/css"
rel="stylesheet"
/>
<article class="page">

  <div class="tab">
    <a href=" /about/SDE">
      <button class="tablinks">SDE</button>
    </a>
    <a href=" /about/MLECV">
      <button class="tablinks">MLE(CV)</button>
    </a>
    <a href=" /about/MLENLP">
      <button class="tablinks">MLE(NLP)</button>
    </a>
    <a href=" /about/DA">
      <button class="tablinks">Data Anaysis</button>
    </a>
  
  </div>
  
    <div class="entry">
      {{ content }}
    </div>

  
</article>
